@font-face {
  font-family: 'a_futurarounddemiregular';
  src: url('../fonts/futura.woff2') format('woff2'),
  url('../fonts/futura.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gooddogregular';
  src: url('../fonts/gooddog.woff2') format('woff2'),
  url('../fonts/gooddog.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}