body {
    font-family:'a_futurarounddemiregular', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: normal;
    background-color: #6cd2d7;
    color: #61737f;
    min-height: 700px;
    min-width:1000px;
}
html,body{
    width: 100%;
    height: 100%;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
img{
  vertical-align: top;
  max-width: 100%;
}
a{
    cursor: pointer;
    color: #25a0d6;
    text-decoration: none;
}
b, .bold{
  font-weight: bold;
}
i,.italic{
  font-style: italic;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.box-inline{
    display: inline-block;
    vertical-align: top;
}
.box-inline-middle{
  display: inline-block;
  vertical-align: middle;
}
.box-right{
    float: right;
}
.box-left{
    float: left;
}
.btn{
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
    outline: none;
    border: 0;
    background:none;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.btn.btn-middle{
    vertical-align: middle;
}
.container{
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}
.container-center{
  width: 1000px;
  margin: 0 auto;
}
.row-half{
    width:50%;
    float: left;
}
.row-double-three{
  width: 66.666666%;
  float: left;
}
.row-three{
  width: 33.333333%;
  float: left;
}
.clearfix:after {
  clear: both;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.box-table{
  width: 100%;
  display: table;
}
.vertical-middle{
  height: 100%;
  display: table;
  width: 100%;
}
.content-vertical,
.item-cell{
  display: table-cell;
  vertical-align: middle;
  float: none;
}
/*BUTTON*/
.btn{
  font-size: 13px;
  text-align: center;
  font-family:'a_futurarounddemiregular',sans-serif;
  padding: 15px 20px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  line-height:20px;
  min-width: 50px;
}
.btn-white{
  color:#61737f;
  background-color: #FFFFFF;
  box-shadow: 0 2px 5px rgba(36, 13, 7, 0.2);
  -webkit-box-shadow: 0 2px 5px rgba(36, 13, 7, 0.2);
  font-size: 16px;
}
.btn-white.nice-text{
  font-family: 'gooddogregular',sans-serif;
  font-size: 20px;
}
.brown{
  color: #5d4221;
}
.btn-white.brown.nice-text{
  font-size: 23px;
}
.btn-white:hover{
  background: #ffb106;
  color: #ffffff;
}
.btn-full{
  width: 100%;
}
.btn-close{
  border-radius: 50%;
  -webkit-border-radius: 50%;
  padding: 15px;
}
.under{
  text-decoration: underline;
  font-size: 13px;
}
.under:hover{
  text-decoration: none;
}
.link{
  display: inline-block;
  vertical-align: top;
}
.link-dashed{
  font-family: 'gooddogregular',sans-serif;
  font-size: 30px;
  color: #8da8b4;
  border-bottom: 3px dashed;
}
.link-yellow{
  font-size: 15px;
  color: #feb410;
  text-decoration: underline;
}
.btn-blue{
  font-size: 24px;
  color: #ffffff;
  font-family: 'gooddogregular',sans-serif;
  text-shadow: 0 1px 1px #01698e;
  padding: 27px 40px;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  box-shadow:inset 0 -3px 3px #01698e, 0 5px 38px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow:inset 0 -3px 3px #01698e, 0 5px 38px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  text-align: center;
  background: #02b7d8; /* Old browsers */
  background: -moz-linear-gradient(top, #02b7d8 0%, #02a2d9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #02b7d8 0%,#02a2d9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #02b7d8 0%,#02a2d9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02b7d8', endColorstr='#02a2d9',GradientType=0 ); /* IE6-9 */
  letter-spacing: 1px;
}
.btn-blue.small{
  padding: 17px;
  min-width: 56px;
}
.btn-blue:hover{
  box-shadow:inset 0 -3px 30px #01698e, 0 5px 38px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow:inset 0 -3px 30px #01698e, 0 5px 38px rgba(0, 0, 0, 0.3);
}
.btn-yellow{
  font-size: 24px;
  color: #ffffff;
  font-family: 'gooddogregular',sans-serif;
  text-shadow: 1px 1px 1px rgba(223, 106, 67, 0.30);
  padding: 25px 45px;
  background: #ffc202;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  box-shadow:inset 0 -3px 3px #cf9100, 0 2px 7px rgba(255, 84, 0, 0.48);
  -webkit-box-shadow:inset 0 -3px 3px #cf9100, 0 2px 7px rgba(255, 84, 0, 0.48);
  text-transform: uppercase;
  background: -moz-linear-gradient(left, #ffd802 0%, #ffb001 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ffd802 0%,#ffb001 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ffd802 0%,#ffb001 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd802', endColorstr='#ffb001',GradientType=1 ); /* IE6-9 */
  text-align: center;
}
.btn-yellow.small{
  padding: 17px;
  min-width: 56px;
}
.btn-yellow:hover{
  box-shadow:inset 0 -3px 30px #cf9100, 0 2px 7px rgba(255, 84, 0, 0.48);
  -webkit-box-shadow:inset 0 -3px 30px #cf9100, 0 2px 7px rgba(255, 84, 0, 0.48);
}
.blue{
  color: #8da8b4;
}

.icon{
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: top;
  background-repeat: no-repeat;
}
.icon-middle{
   vertical-align: middle;
   margin-top: -2px;
 }
.icon-cross{
  width: 12px;
  height: 12px;
  background-image: url(../img/cross.png);
}
.icon-arrow-circled{
  width: 28px;
  height: 27px;
  background-image: url(../img/arrow-circled.png);
}
.icon-tiu{
  height: 18px;
  width: 40px;
  background-image: url(../img/partner/TUI-small.svg);
  background-size: 100% auto;
  -ms-background-size: 100% auto;
  -webkit-background-size: 100% auto;
}
.hover-info{
  position: relative;
  cursor: pointer;
}
.box-popover{
  font-size: 14px;
  color: #4c6b7b;
  text-align: center;
  width: 430px;
  height: 265px;
  background: url("../img/hover-cloud.png") no-repeat;
  padding: 45px 60px;
  position: absolute;
  top: 75%;
  right: 50%;
  margin-right: -215px;
  z-index: 10;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.box-popover .small{
  font-size: 12px;
}
.box-popover .padding-box{
  font-size: 16px;
  padding: 35px 25px;
}
.box-popover .top-text{
  color: #1a4b61;
  margin-bottom: 10px;
}
.hover-info:hover .box-popover{
  -webkit-transform: scale(1);
  transform: scale(1);
}

.accordion{
  position: relative;
}
.accordion .box-text{
  line-height: 1em;
  padding-bottom: 1em;
}
.accordion .accordion-body{
  line-height: 1.5;
  padding: 0 2em 0 0;
  margin-bottom: 1em;
  display: none;
}
.accordion .accordion-heading{
  position: relative;
  font-size: 16px;
}
.accordion .accordion-item{
  line-height: 3em;
}
.accordion .accordion-item .accordion-body p:not(:last-child) {
  padding-bottom: 1em;
}
.accordion .accordion-item .open-accordion{
  position: absolute;
  cursor: pointer;
  right: 0.5em;
  top: 0;
  padding:7px 0;
  line-height: normal;
}
.accordion .accordion-item .open-accordion.active {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
}
.accordion .accordion-heading {
  padding-right: 4em;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.accordion .accordion-heading:hover {
  color: #25a0d6;
}
/*HEADER*/
header{
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  padding: 20px;
  z-index: 10;
}
header .box-btn{
  margin-top: 15px;
}
header .btn{
  margin-right: 10px;
}
header .box-partner{
  float: right;
  margin-top: -7px;
  max-width: 32%;
  line-height: 28px;
  width: 484px;
}
header .link-partner{
  margin-top: -20px;
  padding: 18px 27px;
  margin-right: -20px;
}
.link-partner{
  padding: 18px 27px;
}
.link-partner img{
  width: 100px;
}
header .box-popover{
  right: -10px;
  margin-right: 0;
}
/*FOOTER*/
footer{
  padding-bottom: 50px;
  padding-top: 25px;
}
footer .box-btn{
  padding: 0 30px;
}
footer .box-btn .btn{
  min-width: 210px;
}
footer .box-btn .btn+.btn{
  margin-left: 15px;
}
footer .link-partner{
  margin: -34px 0 -17px;
}
footer .box-popover{
  margin-right:0;
  left: 50%;
  right: inherit;
  top: inherit;
  bottom: 100%;
}
/*CONTENT*/
.wrapper{
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}
.paper{
  margin: 25px auto 0;
  background: #ffffff;
  max-width: 1170px;
  position: relative;
  padding: 30px 70px 60px;
  transform:translate3d(0, 0, 0);
  -webkit-transform:translate3d(0, 0, 0);
}
.paper.small{
  padding: 60px 40px;
}
.paper .list{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0 25px 40px rgba(112, 80, 33, 0.35);
  box-shadow: 0 25px 40px rgba(112, 80, 33, 0.35);
}
.paper .list-under{
  transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  left: -17px;
  top: 0;
}
.paper .list-middle{
  transform: rotate(1deg);
  -webkit-transform: rotate(1deg);
  left: 15px;
  top: -10px;
  height: 101%;
}
.paper .list-top{
}
.paper .list-top:before{
  position: absolute;
  right: 0;
  top:0px;
  width: 150px;
  height: 138px;
  background: url("../img/angle.png") no-repeat;
  content: '';
}
.box-paper-bottom{
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0 30px;
  overflow: hidden;
}
.clouds{
  height: 37%;
  width: 100%;
  background: url("../img/clouds.jpg") no-repeat #ffffff;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -ms-background-size: cover;
  position: relative;
}
.main-prize{
  position: absolute;
  top: 70px;
  left: 50%;
  margin-left: -107px;
  text-align: center;
  z-index: 1;
  width: 214px;
}
.main-prize .name{
  font-family: 'gooddogregular',sans-serif;
  font-size: 30px;
  color: #ffb001;
  line-height: 0.7;
  position: absolute;
  width: 130px;
  top: 30px;
  right: 90%;
  padding-bottom: 20px;
  background: url("../img/arrow.png") no-repeat bottom right;
  padding-right: 40px;
}
.main-prize .image{
  position: absolute;
  top: 70%;
  right: -25%;
  width: 337px
}
.main-prize .transform{
  transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
}
.main-prize .title{
  font-size: 16px;
  width: 214px;
  height: 87px;
  color: #ffffff;
  background: url("../img/prize-title.png") no-repeat;
  padding: 25px 35px;
  letter-spacing: 1px;
}
.sea{
  height: 63%;
  width: 100%;
  background: url("../img/BG.jpg") no-repeat #007392;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -ms-background-size: cover;
  position: relative;
}
.waterline{
  height: 92px;
  width: 100%;
  background: url("../img/waterline.png") repeat-x;
  position: absolute;
  top: -40px;
  left: 0;
}
.girls{
  width: 728px;
  height: 477px;
  background: url("../img/girls.png") no-repeat;
  background-size: 100%;
  -webkit-background-size: 100%;
  -ms-background-size: 100%;
}
.sea .waterline{
  z-index: 2;
}
.sea .girls{
  position: absolute;
  top: -250px;
  left: 53%;
  z-index: 1;
  cursor: pointer;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.sea .title-page{
  position: absolute;
  top: -125px;
  left: 50px;
  z-index: 3;
  max-width: 580px;
}
.sand{
  height: 100%;
  width: 100%;
  background: url("../img/sand-texture.png") repeat #fef2dc;
  background-position: center top;
  position: absolute;
  top: 0;
  left: 0;
}
.name-block{
  font-family: 'gooddogregular',sans-serif;
  font-size: 50px;
  color: #ffb106;
  padding: 30px 0;
  position: relative;
  margin-bottom: 40px;
  line-height:0.8;
}
.name-block .text{
  font-size: 20px;
  color: #61737f;
  font-family: 'a_futurarounddemiregular', sans-serif;
  line-height: normal;
  margin-top: 20px;
}
.name-block:after{
  width: 164px;
  height: 11px;
  position: absolute;
  left: 0;
  top: 100%;
  background: url("../img/name-block.png") no-repeat;
  content: '';
}
.name-block.center{
  text-align: center;
}
.name-block.center:after{
  left: 50%;
  margin-left: -82px;
}
.name-block.no-border:after{
  display: none;
}
.title-page{
  text-align: center;
  line-height: 1;
}
.title-page .title-image{
  width: 431px;
  height: 239px;
  background: url("../img/text-small.png") no-repeat;
  position: relative;
}
.title-page .sun-title{
  position: absolute;
  width: 81px;
  height: 79px;
  background: url("../img/sun-page.png") no-repeat center;
  top: 26px;
  left: 29px;
}
.title-page .title{
  font-family: 'gooddogregular',sans-serif;
  font-size: 188px;
  color: #ffd902;
  line-height: 0.65;
  letter-spacing: -5px;
}
.title-page .subtitle{
  font-size: 56px;
  color: #ffd600;
}
.title-page .sun{
  color: #ffb001;
  padding:30px 140px;
  margin-bottom: -30px;
  background: url("../img/sun.png") no-repeat center left;
  display: inline-block;
  vertical-align: top;
}
.block-text{
  font-size: 17px;
}
.box-paper-full{
  padding-bottom: 60px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
}
.box-paper-full .paper .list-under{transform: rotate(-0.5deg);-webkit-transform: rotate(-0.5deg);}
.box-paper-full .paper .list-middle{transform: rotate(0.5deg);-webkit-transform: rotate(0.5deg);}

.stuff{
  position: absolute;
  background-repeat: no-repeat;
}
.stuff1{
  width: 475px;
  height: 583px;
  background-image: url("../img/stuff/stuff-1.png");
  top: 2400px;
  left: 88%;
}
.stuff2{
  width: 360px;
  height: 765px;
  background-image: url("../img/stuff/stuff-2.png");
  top: 900px;
  left: 100%;
}
.stuff3{
  width: 367px;
  height: 675px;
  background-image: url("../img/stuff/stuff-3.png");
  top: 200px;
  right: 100%;
}
.stuff4{
  width: 450px;
  height: 445px;
  background-image: url("../img/stuff/stuff-4.png");
  right: 100%;
  top: 1700px;
}
.stuff5{
  width: 1074px;
  height: 323px;
  background: url(../img/bg-modal.jpg) center no-repeat;
  bottom: 0;
  left: 0;
  margin: 0 -40px;
  z-index: -1;
}
.promo-page{
  height: 100%;
  width: 100%;
  position: relative;
}
#loading_overlay+.promo-page{
  overflow: hidden;
}
.promo-page .wrapper{
  min-height: 100%;
  height: auto;
}
.promo-page .clouds{
  height: 300px;
}
.promo-page .main-prize{
  top: 50px;
}
.promo-page .girls{
  width: 625px;
  height: 421px;
}
.promo-page .sea{
  height: 976px;
  background-image: url("../img/promo/BG.jpg");
}
.promo-page .sea:after{
  position: absolute;
  background: url(../img/BACK-2.png) no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -ms-background-size: cover;
  width: 100%;
  height: 115px;
  top: 100%;
  content: '';
}
.promo-page .sea .girls{
  top: -220px;
}
.hover-girls{
  position: absolute;
  top: -150px;
  left: 53%;
  z-index: 1;
  cursor: pointer;
  height: 300px;
  width: 460px;
  margin-left: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}
.promo-page .sea .hover-girls .girls{
  top: -77px;
  left:-40px;
}
.promo-page .sea .hover-girls:hover .girls{
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.promo-page .box-prizes{
  text-align: center;
  position: relative;
  padding-top: 210px;
}
.promo-page .box-prizes .name-box{
  position: absolute;
  width: 70px;
  margin-left: -40px;
  top: 300px;
  left: 50%;
  color: #ffffff;
  font-size: 25px;
  font-family: 'gooddogregular',sans-serif;
  line-height: 0.65;
}
.promo-page .item-prize{
  display: inline-block;
  vertical-align: top;
  padding:0 20px;
  position: relative;
}
.promo-page .item-prize .name{
  position: absolute;
  top: 38%;
  color: #ffffff;
  font-size: 50px;
  font-family: 'gooddogregular',sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 0.8;
  width: 270px;
}
.promo-page .item-prize .name span{
  white-space: nowrap;
}
.promo-page .item-prize:first-child .name{
  right: 86%;
  transform: rotate(7deg);
  -webkit-transform: rotate(7deg);
}
.promo-page .item-prize:last-child .name{
  left: 82%;
  top: 25%;
  transform: rotate(-7deg);
  -webkit-transform: rotate(-7deg);
}
.promo-page .box-presents{
  position: relative;
  margin-top: -580px;
  margin-bottom: 40px;
}
.promo-page .box-presents .name-box{
  width: 120px;
  padding-bottom: 40px;
  background: url(../img/arrow-white.png) no-repeat bottom right;
  text-align: center;
  left: 20px;
}
.promo-page .box-presents .btn-next .transform{
  transform: rotate(-7deg);
  -webkit-transform: rotate(-7deg);
}
.promo-page .box-presents .name-box .transform{
  transform: rotate(7deg);
  -webkit-transform: rotate(7deg);
}
.promo-page .box-presents .name-box,
.promo-page .box-presents .btn-next{
  font-size: 30px;
  color: #ffffff;
  font-family: 'gooddogregular',sans-serif;
  line-height: 0.9;
  position: absolute;
  top: 30px;
}
.promo-page .box-presents .btn-next{
  width: 140px;
  padding:0 30px 0 0;
  left: 85%;
}
.promo-page .box-presents .btn-next:after{
  position: absolute;
  top: 3px;
  background: url(../img/more.png) no-repeat;
  width: 30px;
  height: 30px;
  right: 0;
  content: '';
}
.promo-page .box-presents .btn-next.show-active:after{
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  top: -7px;
}
.promo-page .box-presents .line{
  width: 100%;
  height: 96px;
  background: url("../img/line.png") no-repeat;
  background-position: center top;
  margin-top: -40px;
}
.box-presents .line-items{
  text-align: center;
}
.box-presents .line-items:not(.active){
  display: none;
}
.box-presents .line-items.next .item-present:after{
  display: none;
}
.box-presents .line-items .box-text{
  font-size: 12px;
  color: #5d4221;
  margin-top: 50px;
}
.box-presents:not(.more) .show-active,
.box-presents.more .hide-active{
  display: none;
}
.box-presents .btn-down-more{
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}
.box-presents.more .btn-down-more{
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
}
.promo-page .item-present{
  text-align: center;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
}
.promo-page .item-present:after{
  width: 44px;
  height: 120px;
  position: absolute;
  content: '';
  top: -70px;
  left: 0;
  background: url("../img/pin.png") no-repeat;
}
.promo-page .item-present .box-popover{
  background-size: 100% auto;
  -webkit-background-size: 100% auto;
  -ms-background-size: 100% auto;
  height: 160px;
  width: 260px;
  margin-right: -130px;
  top: -50px;
  z-index: 1000;
}
.promo-page .item-present .box-popover .top-text{
  margin-bottom: 0;
}
.promo-page .item-present .box-count{
  width: 65px;
  height: 66px;
  background: url("../img/count.png") no-repeat;
  color: #ffffff;
  position: absolute;
  left: -10px;
  bottom:40px;
  padding: 15px;
  font-size: 13px;
}
.promo-page .item-present .box-count .count{
  font-size: 22px;
  line-height: 1;
}
.promo-page .item-present .box-count.right{
  right: -10px;
  left: inherit;
}
.promo-page .item-present .box-card{
  padding: 8px;
  min-height: 180px;
  background: #ffffff;
  width: 160px;
  margin-top: 15px;
  margin-left: -5px;
  margin-right: -5px;
  box-shadow: 0 10px 30px rgba(0, 47, 63, 0.2);
  -webkit-box-shadow: 0 10px 30px rgba(0, 47, 63, 0.2);
  position: relative;
  display: block;
}
.promo-page .item-present .name{
  line-height: 30px;
  font-size: 13px;
  color: #1a4b61;
  padding-top: 8px;
}
.promo-page .item-present .name span{
  line-height: 15px;
  display: inline-block;
  vertical-align: middle;
}
.promo-page .item-present img{
  overflow: hidden;
  background: #1a4b61;
  height: 127px;
}
.promo-page .item-present:nth-child(1) .box-card{transform: rotate(20deg) translate3d(0, 0, 0);-webkit-transform: rotate(20deg) translate3d(0, 0, 0);}
.promo-page .item-present:nth-child(1):after{-webit-transform: rotate(-5deg) translate3d(0, 0, 0);transform: rotate(-5deg) translate3d(0, 0, 0);left: 20px;}
.promo-page .item-present:nth-child(2) .box-card{transform: rotate(7deg) translate3d(0, 0, 0);-webkit-transform: rotate(7deg) translate3d(0, 0, 0);margin-top: 5px;}
.promo-page .item-present:nth-child(2):after{transform: rotate(0deg) translate3d(0, 0, 0);-webkit-transform: rotate(0deg) translate3d(0, 0, 0);left: -2px;}
.promo-page .item-present:nth-child(3) .box-card{transform: rotate(-10deg) translate3d(0, 0, 0);-webkit-transform: rotate(-10deg) translate3d(0, 0, 0);}
.promo-page .item-present:nth-child(3):after{transform: rotate(3deg) translate3d(0, 0, 0);-webkit-transform: rotate(3deg) translate3d(0, 0, 0);left: 70%;}
.promo-page .item-present:nth-child(4) .box-card{transform: rotate(15deg) translate3d(0, 0, 0);-webkit-transform: rotate(15deg) translate3d(0, 0, 0);}
.promo-page .item-present:nth-child(4):after{transform: rotate(-2deg) translate3d(0, 0, 0);-webkit-transform: rotate(-2deg) translate3d(0, 0, 0);left: 15px;}
.promo-page .item-present:nth-child(5) .box-card{transform: rotate(2deg) translate3d(0, 0, 0);-webkit-transform: rotate(2deg) translate3d(0, 0, 0);margin-top: 5px;}
.promo-page .item-present:nth-child(5):after{transform: rotate(-20deg) translate3d(0, 0, 0);-weblit-transform: rotate(-20deg) translate3d(0, 0, 0);left: -10px;top: -65px;}

.promo-page .next .item-present:nth-child(1) .box-card{transform: rotate(12deg) translate3d(0, 0, 0);-webkit-transform: rotate(12deg) translate3d(0, 0, 0);margin-right: 7px;}
.promo-page .next .item-present:nth-child(2) .box-card{transform: rotate(-3deg) translate3d(0, 0, 0);-webkit-transform: rotate(-3deg) translate3d(0, 0, 0);margin-top: 15px;z-index: 1;}
.promo-page .next .item-present:nth-child(3) .box-card{transform: rotate(10deg) translate3d(0, 0, 0);-webkit-transform: rotate(10deg) translate3d(0, 0, 0);}
.promo-page .next .item-present:nth-child(4) .box-card{transform: rotate(-6deg) translate3d(0, 0, 0);-webkit-transform: rotate(-6deg) translate3d(0, 0, 0);margin-left: 7px;}
.promo-page .next .item-present:nth-child(4) .box-count{bottom: 50px;}
.promo-page .next .item-present:nth-child(5) .box-card{transform: rotate(-20deg) translate3d(0, 0, 0);-webkit-transform: rotate(-20deg) translate3d(0, 0, 0);margin-top: 5px;margin-left: 10px;}


.block-best .box-btn,
.block-step .box-btn{
  margin-top: 30px;
}
.block-step{
  position: relative;
  padding:50px 0;
}
.block-step .box-step{
  background: url("../img/way.jpg") no-repeat center top;
  position: relative;
  width: 860px;
  margin-left:auto;
  margin-right:auto;
}
.block-step .fly{
  width: 150px;
  height: 141px;
  background: url("../img/step/step-Airplane.png") no-repeat;
  transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  position: absolute;
  top: -40px;
  left: 54%;
  z-index: 1;
}
.block-step .train{
  width: 217px;
  height: 49px;
  background: url("../img/step/step-Train.png") no-repeat;
  transform: rotate(-24deg);
  -webkit-transform: rotate(-24deg);
  position: absolute;
  top: 52%;
  left: 62%;
  z-index: 1;
}
.block-step .ship{
  width: 240px;
  height: 55px;
  background: url(../img/step/step-Ship.png) no-repeat;
  transform: rotate(-7deg);
  -webkit-transform: rotate(-7deg);
  position: absolute;
  top: 1040px;
  left: 40%;
  z-index: 1;
  background-size: 100% auto;
  -ms-background-size: 100% auto;
  -webkit-background-size: 100% auto;
}
.block-best .box-cat{
  text-align: center;
  margin-bottom: 20px;
}
.block-best .box-cat .link{
  color: #8da8b4;
  padding: 7px 0;
  font-size: 16px;
  position: relative;
  margin: 0 15px;
}
.block-best .box-cat .link.active{
  color: #25a0d6;
}
.block-best .box-cat .link.active:after{
  height: 4px;
  background: #25a0d6;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  content: '';
}
.item-step{
  text-align:left;
  position: relative;
}
.item-step:nth-child(even){
  text-align: right;
}
.item-step .box-img{
  width: 300px;
}
.item-step .box-about{
  display: inline-block;
  vertical-align: top;
}
.item-step .box-about .box-table{
  width: auto;
}

.item-step .text{
  font-size: 16px;
  color: #8da8b4;
  max-width: 520px;
}
.item-step .text .info{
  font-size: 14px;
  margin-top: 10px;
}
.item-step .text .title{
  color: #1a4b61;
}
.item-step .time{
  font-size: 30px;
  color: #8da8b4;
  font-family: 'gooddogregular',sans-serif;
  margin-bottom: 10px;
}
.item-step .name{
  font-size: 20px;
  color: #1a4b61;
}
.item-step .name+.text{
  margin-top: 10px;
}
.item-step:nth-child(2) {margin-top: -50px;margin-right: -40px;}
.item-step:nth-child(3) .text{max-width: 305px;}
.item-step:nth-child(4) {text-align: left;margin-top: 70px;}
.item-step:nth-child(5) {text-align: right;margin-right: -40px;}
.item-step:nth-child(2) .box-img{text-align: left;}
.item-step:nth-child(5) .box-img{text-align: left;width: 340px;}

.block-best{
  margin-bottom: 80px;
}
.block-best .box-slide{
  position: relative;
}
.block-best .slide{
  outline: none;
}
.slick-arrow{
  width: 50px;
  height: 100%;
  background:#ffffff;
  font-size: 0;
  outline: none;
  position: absolute;
  top: 0;
  z-index: 20;
  cursor: pointer;
}
.slick-arrow:after{
  opacity: 0.2;
  background: url("../img/arrow.svg") no-repeat center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  content: '';
}
.slick-arrow:hover:after{
  opacity: 0.99;
}
.slick-prev{left: 0;}
.slick-next{right: 0;transform: rotate(180deg);-webkit-transform: rotate(180deg);}

.slick-center .item-product .box-img:after{
  background-size: 100%;
}
.slick-slide .item-product{
  margin: 0 auto;
}
.item-product{
  text-align: center;
  outline: none;
  width: 270px;
}
.item-product .box-brand{
  width: 100px;
  height: 50px;
  text-align: center;
  position: absolute;
  top: 15px;
  right: -15px;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.2;
  z-index: 2;
  border-radius: 30px;
  -webkit-border-radius: 30px;
 box-shadow: 0 -2px 13px rgba(127, 141, 151, 0.44);
 -webkit-box-shadow: 0 -2px 13px rgba(127, 141, 151, 0.44);
}
.item-product .box-brand img{
  max-height: 30px!important;
}
.item-product .box-brand .image{
  content: '';
  position: absolute;
  width: 130px;
  height: 80px;
  background: url("../img/hover-cloud.png") no-repeat center;
  background-size: 100% auto;
  -webkit-background-size: 100% auto;
  -ms-background-size: 100% auto;
  top: -15px;
  left: -15px;
  padding: 25px 0;
}
.item-product .box-btn{
  margin-top: 15px;
}
.item-product .box-btn .link{
  font-size: 20px;
  outline: none;
}
.item-product .box-btn .link:hover{
  text-decoration: underline;
}
.item-product .box-price{
  width: 112px;
  height: 97px;
  background: url("../img/slider-cost.png") no-repeat center;
  padding: 30px 0;
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 30px;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.2;
  z-index: 2;
}
.item-product .box-price .old{
  font-size: 10px;
  text-decoration: line-through;
  height: 12px;
}
.item-product .box-img{
  width: 270px;
  height: 270px;
  padding: 35px;
  line-height: 200px;
  text-align: center;
  position: relative;
  margin: 0 auto;
}
.item-product .box-img:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/slide.png") no-repeat center;
}
.item-product .box-img img{
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}
.item-product .box-name{
  font-size: 18px;
  color: #61737f;
  min-height: 44px;
}

.block-photo{
  text-align: center;
}
.block-photo .flash-top{
  position: absolute;
  top: -115px;
  right: -20px;
  width: 378px;
  height: 378px;
  background: url("../img/flash.png") no-repeat;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 1;
}
.block-photo .flash-down{
  position: absolute;
  top: -80px;
  right: 35px;
  width: 405px;
  height: 530px;
  background: url("../img/flash2.png") no-repeat;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 1;
}
.block-photo.show-flash .flash-top{
  -webkit-transform: scale(1);
  transform: scale(1);
}
.block-photo.show-flash .flash-down{
  opacity: 0.99;
}
.block-photo .box-img{
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}
.block-photo .name-box{
  font-size: 30px;
  color: #1a4b61;
  font-family: 'gooddogregular',sans-serif;
  line-height: 0.9;
  position: absolute;
  right: 90%;
  bottom: 50px;
  width: 165px;
  padding-bottom: 30px;
  background: url(../img/arrow-long.svg) no-repeat bottom right;
  text-align: center;
}
.block-photo .name-box .name{
  font-size: 50px;
  color: #ffb001;
}
.block-photo .name-box .transform{
  transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
}
.block-photo .box-btn{
  margin-top: 60px;
}
.block-photo .box-img>.img{
  width: 650px;
  position: relative;
  margin: 0 -55px;
}
.block-photo .box-form{
  position: absolute;
  bottom: 20px;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 2;
}
.block-photo .box-form .form-control{
  background: #ffffff;
  font-size: 30px;
  font-family: 'gooddogregular',sans-serif;
  width: 350px;
  padding: 12px 20px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  border: 0;
  margin: 0;
  outline: none;
  color: #1a4b61;
  margin-right: 5px;
  margin-left: 10px;
  height: 54px;
}
.block-photo .box-form .form-control::-webkit-input-placeholder{
  color: #8da8b4;
}
.block-photo .box-form .form-control:-moz-placeholder{
  color: #8da8b4;
}
.block-photo .box-form .form-control:-ms-input-placeholder{
  color: #8da8b4;
}
.block-photo .box-form .input-placeholder{
  color: #8da8b4;
  font-size: 30px;
  font-family: 'gooddogregular',sans-serif;
  position: absolute;
  padding: 12px 20px;
  top: 0;
  left: 0;
  margin-left: 10px;
}
.block-photo .box-form .form-control.valid+label,
.block-photo .box-form .form-control:focus+label{
  display: none;
}
.block-photo .box-recap{
  padding-top: 400px;
  position: relative;
}
.block-photo .box-recap .name-box{
  bottom: 70%;
  right: 75%;
  width: 200px;
}
.block-photo .box-recap .box-btn{
  margin-top: 20px;
}
.block-photo .photo-view{
  height: 12px;
  background: #3f4549;
  width: 420px;
  margin: 10px auto 0;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  position: relative;
  padding: 5px 20px;
}
.block-photo .photo-view:after{
  height: 2px;
  width: 94%;
  background: #000000;
  top: 5px;
  left: 3%;
  position: absolute;
  content: '';
}
.print-prize .box-card{
  padding: 15px;
  background: #ffffff;
  width: 380px;
  position: relative;
  margin-top: -40px;
}
.print-prize img{
  width: 100%;
}
.print-prize .name{
  line-height: 70px;
  font-size: 35px;
  color: #1a4b61;
  padding-top: 15px;
  font-family: 'gooddogregular',sans-serif;
}
.print-prize .name span {
  line-height: 35px;
  display: inline-block;
  vertical-align: middle;
}
.block-photo .print-prize{
  -webkit-transition: all 1s ease-in-out 2s;
  transition: all 1s ease-in-out 2s;
  height: 0;
  overflow: hidden;
  position: relative;
  box-shadow: 0 10px 30px rgba(0, 47, 63, 0.2);
  -webkit-box-shadow: 0 10px 30px rgba(0, 47, 63, 0.2);
}
.block-photo .print-prize:after{
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  content: '';
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
  background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.block-photo .print-prize .img{
  background: #1a4b61;
  height: 300px;
  overflow: hidden;
  position: relative;
}
.block-photo .print-prize .img:after{
  background: #1a4b61;
  opacity: 0.15;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
}
.block-photo .print-prize .img img{
  opacity: 0;
  -webkit-transition: all 1s ease-in-out 2s;
  transition: all 1s ease-in-out 2s;
}
.block-photo.active .print-prize{
  height: 380px;
}
.block-photo.active .print-prize .img img{
  opacity: 0.99;
}
.block-photo:not(.active) .show-active,
.block-photo.active .hide-active{
  display: none;
}
.block-photo.active .box-form form{
  opacity: 0;
}
#modal-all-rules .box-scroll{
  overflow-y: scroll;
}
.block-rules .name-box{
  font-size: 16px;
}
.block-rules ol{
  list-style: decimal;
  list-style-position: inside;
}
.block-rules ul.circle{
  list-style: disc;
  list-style-position: inside;
}
.block-rules ul{
  margin-bottom: 1em;
}
.block-rules table {
  width: 100%;
  margin-bottom: 1em;
}

.block-rules table .cell-value {
  width: 120px
}

.block-rules table td {
  border: 1px solid #cccccc;
  padding: 10px
}

.block-rules table .table-header,
.block-rules table .table-footer {
  background: #efefef
}

/*form*/
.box-dropdown {
  position: relative
}
.href-dropdown {
  display: block
}
.menu-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  background: #ffffff;
  width: 100%;
  min-width: 60px;
  text-align: left;
  overflow: hidden;
  line-height: normal
}

.menu-dropdown a {
  display: block
}

.box-dropdown.open {
  z-index: 10
}

.caret {
  color: inherit;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0
}

.label-control {
  line-height: 64px;
  font-size: 16px;
  color: #61737f;
}

.message-novalid {
  position: absolute;
  top: 100%;
  left: 0;
  color: #e02b15;
  line-height: 1.7;
  font-size: 12px;
}

.message-control {
  font-size: 12px;
  color: #8da8b4;
  line-height: 16px;
  position: relative;
  padding-left: 20px;
  padding-top: 15px
}

.message-control .point {
  color: #ffb001;
  font-size: 25px;
  line-height: inherit;
  margin-right: 5px;
  position: absolute;
  top: 18px;
  left: 5px
}

.form-control {
  background: none;
  margin: 0;
  padding: 20px 30px;
  font-size: 16px;
  color: #61737f;
  outline: none;
  width: 100%;
  border: 3px solid #d5e1e6;
  background: #FFFFFF;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
  vertical-align: top;
  line-height: normal;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-clip: padding-box;
  height: 64px;
  font-family: 'a_futurarounddemiregular', sans-serif;
}

.form-control:focus{
  border-color: #61737f;
}
.form-control::-webkit-input-placeholder {
  color: #d5e1e6;
}

.form-control:-moz-placeholder {
  color: #d5e1e6;
}

.form-control:-ms-input-placeholder {
  color: #d5e1e6;
}

.form-control.error {
  border-color: #e02b15
}

textarea.form-control {
  height: 124px;
  resize: none
}

.form-control.disabled {
  background: #d5e1e6;
  border-color: #d5e1e6;
  text-align: center;
  font-size: 25px;
  padding-top: 7px;
  padding-bottom: 7px;
  line-height: 44px;
  color: #61737f;
}

.box-control {
  position: relative
}

.box-control-inline {
  text-align: center;
  margin-bottom: 25px
}

.box-control-inline .message-control {
  display: inline-block;
  vertical-align: top;
  width: 225px;
  text-align: left;
  margin-left: 10px;
}

.box-control-inline .box-btn{
  max-width: 370px;
  margin: 40px auto 0;
}
.box-control-inline .label-control {
  display: inline-block;
  vertical-align: top;
  padding-right: 30px;
  width: 235px;
  text-align: right;
}
.box-control-inline .label-control span{
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
}
.box-control-inline .box-checkbox{
  margin-left: 270px;
  text-align: left;
}
.box-control-inline .box-checkbox .visible-check{
  margin-left: -270px;
  text-align: center;
  margin-top: 25px;
}

.box-control-inline .box-control {
  display: inline-block;
  vertical-align: top;
  width: 370px
}
.box-control-name .name {
  width: 36%;
  position: relative
}

.box-control-name .surname {
  width: 64%;
  padding-left: 10px;
  position: relative
}

.box-checkbox {
  margin: 25px 0
}

.box-checkbox a {
  text-decoration: underline;
  color: inherit
}

.box-checkbox a:hover {
  text-decoration: none
}

.box-checkbox label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  margin: 0;
  text-align: left;
  line-height: 25px;
  padding: 0;
  padding-left: 35px;
  font-size: 15px;
  font-weight: normal;
  color: #61737f;
}

.box-checkbox label:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-top: -12px;
  position: absolute;
  left: 0;
  top: 50%;
  color: #911D3D;
  background: #cfcfcf;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat
}

.box-checkbox input[type=checkbox] {
  display: none
}

.box-checkbox input[type=checkbox]:checked + label:before {
  background-color: #ffb001;
  background-image: url("../img/check.png")
}
.visible-check{
  display: none;
}
.box-checkbox input[type=checkbox]:checked~.visible-check{
  display: block;
}
.box-control-dropdown {
  text-align: left
}

.box-control-dropdown .arrow-dropdown {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  text-align: left;
  height: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out
}

.box-control-dropdown .box-icon {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  color: #cfcfcf
}

.box-control-dropdown a {
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #61737f;
  font-size: 16px;
  padding: 20px 30px
}

.box-control-dropdown .menu-dropdown {
  max-height: 240px;
  overflow-y: auto;
  border: 3px solid #d5e1e6;
  border-top: 0;
  -webkit-border-radius: 0 0 32px 32px;
  -moz-border-radius: 0 0 32px 32px;
  border-radius: 0 0 32px 32px
}

.box-control-dropdown .menu-dropdown + a {
  border-top: 1px solid #d7d7d7
}

.box-control-dropdown .menu-dropdown a:hover {
  background: #f3f9eb
}

.box-control-dropdown .menu-dropdown a.active {
  display: none
}

.box-control-dropdown .href-dropdown {
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: 3px solid #d5e1e6;
}

.box-control-dropdown .href-dropdown:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15)
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15)
}

.box-control-dropdown .open .href-dropdown {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 32px 32px 0 0;
  -moz-border-radius: 32px 32px 0 0;
  border-radius: 32px 32px 0 0
}

.box-control-dropdown .open .menu-dropdown {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15)
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15)
}

.box-control-dropdown .open .arrow-dropdown {
  border-color: transparent
}

.box-control-dropdown .no-active {
  color: #d5e1e6;
}

.message-error {
  position: absolute;
  bottom: 100%;
  left: 50%;
  background: #ffffff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 30px 20px;
  text-align: center;
  -webkit-box-shadow: 0 4px 25px 0 rgba(67, 67, 67, 0.2);
  -moz-box-shadow: 0 4px 25px 0 rgba(67, 67, 67, 0.2);
  box-shadow: 0 4px 25px 0 rgba(67, 67, 67, 0.2);
  width: 300px;
  font-size: 18px;
  color: #1a4b61;
  z-index: 5;
  margin-bottom: 25px;
  display: none;
  margin-left: -150px;
}

.message-error:after {
  position: absolute;
  left: 50%;
  top: 100%;
  content: '';
  margin-left: -10px;
  margin-top: -2px;
  width: 0;
  height: 0;
  border-top: 12px solid #fff;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent
}

.message-error.hint:after{
  display: none;
}
.message-error .title{
  font-family: 'gooddogregular',sans-serif;
  font-size: 25px;
  color: #ffb106;
}
.message-error .btn-close {
  position: absolute;
  top: -20px;
  right: -20px;
  z-index: 1
}

.box-control .message-error {
  top: inherit;
  bottom: 100%;
  margin-left: -205px;
  left: 50%
}
.credit-card{
  background: #d5e1e6;
  padding: 30px 35px 25px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  text-align: left;
}
.credit-card .name{
  font-size: 23px;
  color: #b8c5cc;
  margin-bottom: 25px;
}
.credit-card .box-number .form-control{
  width: 90px;
  text-align: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  font-size: 25px;
  padding: 14px 0;
  margin-top: -20px;
  float: right;
}
.credit-card .box-number .number{
  font-size: 25px;
}
.credit-card .box-number .title{
  font-size: 16px;
  color: #9baab2;
}
.credit-card .year{
  display: inline-block;
  vertical-align: top;
  width: 90px;
  text-align: center;
  margin-top: 10px;
}
.credit-card .box-year{
  font-size: 23px;
  text-align: right;
  color: #b8c5cc;
  clear: both;
}
/*countbox*/
.block-counter{
  text-align: center;
  margin-top: 40px;
}
.block-counter .box-text {
  margin-bottom: 10px;
}

.block-counter .item-counter{
  width: 50px;
  margin: 0 5px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-size: 8px;
  text-transform: uppercase
}
#countbox {
  padding: 0;
  line-height: 1.6;
  color: #fff;
  font-size: 32px;
  height: 55px;
  position: relative;
}

#countbox-days {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  background-image: url("../img/flip.png");
  background-repeat: no-repeat;
  margin: 0 5px;
  height: 50px;
  width: 53px;
  z-index: 1;
  background-size: 100%
}

#countbox-days span {
  background: url("../img/flip_gradient.png");
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  height: 50px;
  width: 53px;
  background-size: 100%
}

#countbox-hours {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  background-image: url("../img/flip.png");
  background-repeat: no-repeat;
  margin: 0 5px;
  height: 50px;
  width: 53px;
  z-index: 1;
  background-size: 100%
}

#countbox-hours span {
  background: url("../img/flip_gradient.png");
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  height: 50px;
  width: 53px;
  background-size: 100%
}

#countbox-mins {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  background-image: url("../img/flip.png");
  background-repeat: no-repeat;
  margin: 0 5px;
  height: 50px;
  width: 53px;
  z-index: 1;
  background-size: 100%
}

#countbox-mins span {
  background: url("../img/flip_gradient.png");
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  height: 50px;
  width: 53px;
  background-size: 100%
}

#countbox-secs {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  background-image: url("../img/flip.png");
  background-repeat: no-repeat;
  margin: 0 5px;
  height: 50px;
  width: 53px;
  z-index: 1;
  background-size: 100%
}

#countbox-secs span {
  background: url("../img/flip_gradient.png");
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  height: 50px;
  width: 53px;
  background-size: 100%
}

#countbox-days-text {
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  margin-top: 5px;
  height: 26px;
  width: 94px
}

#countbox-hours-text {
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  margin-top: 5px;
  height: 26px;
  width: 94px
}

#countbox-mins-text {
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  margin-top: 5px;
  height: 26px;
  width: 94px
}

#countbox-secs-text {
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  margin-top: 5px;
  height: 26px;
  width: 94px
}
/*modal*/
.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  overflow: hidden;
  width: 100%;
  height: 100%
}

.modal-open {
  overflow: hidden
}

.modal-open header .box-partner a, .modal-open header .logo, .modal-open header .box-btn {
  z-index: 0;
  transition-delay: 0s;
  -webkit-transition-delay: 0s
}

.modal-bg {
  display: none;
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background-color: rgba(0, 0, 0, 0.3)
}

.modal-open .modal-bg {
  display: block;
  z-index: 6
}

.modal-dialog {
  margin: 0 auto;
  width: 1000px;
  -webkit-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  transform: translate(0, 100%);
  transition: transform .2s ease-out .50s;
  -ms-transition: transform .2s ease-out .25s;
  -webkit-transition: transform .2s ease-in-out .25s;
  height: 100%;
  position: relative;
  z-index: 7;
}

.modal-dialog.modal-lg {
  max-width: 900px
}

.modal-dialog.modal-md {
  max-width: 700px
}

.modal-content{
  background-color: #fff;
  box-shadow: 0 4px 50px 0 rgba(36, 13, 7, 0.2);
  -webkit-box-shadow: 0 4px 50px 0 rgba(36, 13, 7, 0.2);
  position: relative;
  height: 100%;
}
.modal-content .paper{
  padding: 30px;
  height: 100%;
}
.modal-content .paper .list-top:before{
  display: none;
}
.modal-content .btn-close {
  position: absolute;
  right: 0;
  top: 10px;
  z-index: 10;
}

.modal-content .box-scroll {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden
}

.modal-content .box-scroll.normal {
  overflow-y: auto !important
}

.modal-content.no-bottom {
  padding-bottom: 0
}

.modal-header .nice-text {
  margin-bottom: 0
}

.modal-title {
  text-align: center;
  position: relative;
}
.modal-title .name-block{
  padding-top: 0;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
.modal-body {
  padding: 40px 20px;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  position: relative;
  z-index: 2;
}

.modal-body .block-text{
  font-size: 16px;
}
.modal-body .bottom-text{
  font-size: 16px;
  padding: 30px;
  text-align: center;
}

.modal-footer {
  padding: 0 70px;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  text-align: left;
  background: #ffffff
}

.modal-footer a + a {
  margin-left: 40px
}

.modal-footer .box-btn {
  border-top: 3px solid #8dc63f;
  padding: 10px 0;
  line-height: 45px
}

.modal-footer .box-partner {
  max-width: 32%
}

.modal-footer .box-partner img {
  vertical-align: middle
}

.modal.open .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0)
}
#modal-anketa .paper{
  padding-left: 0;
  padding-right: 0;
}
#modal-kod .modal-body{
  height: 90%;
  text-align: center;
}
#modal-kod .modal-body img{
  max-height: 85%;
}
/*winners*/
.wrapper-winners{
  width: 100%;
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
}
.winners .sea{
  height: 750px;
  margin-bottom: 115px;
}
.paper-content-small{
  overflow: hidden;
  margin-top: -640px;
}
.paper-content-small .box-paper-full{
  padding-bottom: 0;
}
.paper-content-small .paper{
  padding-right: 40px;
  padding-bottom: 20px;
}
.item-winner{
  font-size: 20px;
  color: #1a4b61;
}
.item-winner+.item-winner{
  margin-top: 15px;
}
.item-winner:first-child .img{
  margin-top: -45px;
}
.item-winner .box-img{
  width: 310px;
}
.item-winner .town{
  color: #a6c0cc;
  font-size: 17px;
}
.item-winner .line-win{
  margin: 7px 0;
}
.item-winner .name{
  font-size: 50px;
  color: #a6c0cc;
  font-family: 'gooddogregular',sans-serif;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.name-block .subname{
  color: #a6c0cc;
  margin-top: -20px;
  margin-bottom:30px;
  font-size: 0.8em;
}
/*media*/
@media screen and (max-width: 1400px), screen and (max-device-width: 1400px){
  body:not(.ie) .promo-page .wrapper{
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    width: 125%;
  }
  .modal-content{
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform-origin: 50% 0;
    -webkit-transform-origin: 50% 0;
    height: 125%;
  }
}
@media screen and (max-height: 800px), screen and (max-device-height: 800px){
  body:not(.ie) .promo-page .wrapper{
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    width: 125%;
  }
  .modal-content{
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform-origin: 50% 0;
    -webkit-transform-origin: 50% 0;
    height: 125%;
  }
  body:not(.ie) .winners header,
  body:not(.ie) .winners .scale,
  body:not(.ie) .winners .box-paper-full{
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    width: 125%;
  }
  body:not(.ie) .winners .box-paper-full{
    transform-origin: 0 100%;
    -webkit-transform-origin: 0 100%;
  }
  body:not(.ie) .winners .sea{
    height: 600px;
  }
  body:not(.ie) .winners .clouds{
    height: 240px;
  }
}
@media screen and (max-width: 1170px), screen and (max-device-width: 1170px){
  .paper{
    padding-left: 40px;
    padding-right: 40px;
  }
  .block-best{
    margin-left: -20px;
    margin-right: -20px;
  }
  .promo-page .item-present .box-card{
    margin-left: -15px;
    margin-right: -15px;
  }
}
@media screen and (max-height: 860px), screen and (max-device-height: 860px){
  .paper.small{
    padding: 35px;
  }
  .sea .title-page{
    max-width: 420px;
    top: -100px;
    left: 30px;
  }
}
@media screen and (max-height: 740px), screen and (max-device-height: 740px){
  .paper.small{
    padding-top: 15px;
  }
}
@media screen and (max-width: 768px), screen and (max-device-width: 768px){
  body{
    min-width: 600px;
  }
  header .box-btn{
    white-space: nowrap;
  }
  .modal-dialog{
    width: 100%;
  }
  .title-page .title-image{
    background: url("../img/text-mobile.png") no-repeat;
  }
  .promo-page .main-prize{
    top: 130px;
  }
  .paper .list-top:before{
    display: none;
  }
  .sea .girls{
    left: 50%;
    margin-left: -312px;
  }
  .sea .title-page{
    top: -500px;
  }
  body:not(.ie) .winners .clouds{
    height: 560px;
  }
  .promo-page .clouds{
    height: 700px;
  }
  .animate.active.box-prizes .name-box{
    top: 210px!important;
  }
  .promo-page .items{
    text-align: left;
  }
  .promo-page .item-prize:last-child{
    clear: both;
    margin-top: -30px;
    display: block;
  }
  .promo-page .item-prize:last-child .name{
    left: 250px;
  }
  .promo-page .item-prize:first-child{
    float: right;
  }
  .promo-page .box-presents{
    margin-top: -350px;
  }
  .box-presents .btn-more{
    display: none;
  }
  .box-presents .line-items:not(.active){
    display: block;
  }
  .box-presents .line-items .box-text br{
    display: none;
  }
  .promo-page .item-present .box-card{
    margin-left: -30px;
    margin-right: -30px;
  }
  .box-presents .line-items .box-text{
    padding: 0 20px;
  }
  .block-photo{
    margin: 0 -40px;
  }
  .block-photo .box-img{
    display: block;
  }
  .block-photo .box-img img{
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    max-width: none;
  }
  .block-step .fly,
  .block-step .train,
  .block-step .ship{
    display: none;
    background: none;
  }
  .block-photo .box-recap .name-box .name,
  .block-photo .box-recap .name-box{
    color: #ffffff;
  }
  .block-photo .box-recap .name-box{
    bottom: 80%;
    left: 50%;
    margin-left: -100px;
    background: none;
  }
  .block-photo .name-box .transform{
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  .block-photo .name-box.hide-active{
    display: none;
  }
  .stuff{
    display: none;
    background: none;
  }
  .block-step{
    padding-top: 0;
  }
  .block-step .box-step{
    background: url("../img/way-mobile.jpg") no-repeat top center;
    width: 100%;
  }
  .item-step{
    margin: 0 0 40px 0;
  }
  .item-step .box-img{
    width: 200px;
  }
  .item-step .box-text{
    padding:0 20px;
  }
  .item-step:nth-child(1){
    padding-top: 50px;
  }
  .item-step:nth-child(2){
    padding-top: 25px;
  }
  .item-step:nth-child(4){
    margin-top: 125px;
  }
  .item-step:nth-child(5),
  .item-step:nth-child(2){
    margin-right: 0;
  }
  .item-step:nth-child(2) .box-text{
    padding: 0;
  }
  .item-step:nth-child(2) .box-img{
    width: 240px;
  }
  .item-step:nth-child(5){
    margin-top: 70px;
  }
  .item-step:nth-child(5) .box-text{
    text-align: left;
    padding-top: 300px;
  }
  .item-step:nth-child(5) .box-text,
  .item-step:nth-child(5) .box-img{
    display: block;
  }
  .item-step:nth-child(5) .box-img{
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -170px;
  }
  .name-block .text br{
    display: none;
  }
  footer .box-btn{
    padding: 0 27px 0 0;
  }
  footer .box-btn .btn{
    min-width:100px;
    font-size: 15px;
  }
  footer .box-btn .btn+.btn{
    margin-left: 5px;
  }
  .promo-page .item-present .box-card{
    cursor: default;
  }
  .promo-page .item-present .box-popover{
    display: none;
  }
  .promo-page .item-present .box-count.right{
    right: inherit;
    left: -10px;
  }
  .promo-page .next .item-present:nth-child(1) .box-card{transform: rotate(36deg) translate3d(0, 0, 0);-webkit-transform: rotate(36deg) translate3d(0, 0, 0);margin-right: -35px;margin-top: 5px;}
  .promo-page .next .item-present:nth-child(2) .box-card{transform: rotate(-14deg) translate3d(0, 0, 0);-webkit-transform: rotate(-14deg) translate3d(0, 0, 0);margin-top: 45px; z-index: 0;margin-left: -35px;}
  .promo-page .next .item-present:nth-child(3) .box-card{margin-left: -35px;margin-right: -35px;}
  .promo-page .next .item-present:nth-child(4) .box-card{transform: rotate(0deg) translate3d(0, 0, 0);-webkit-transform: rotate(0deg) translate3d(0, 0, 0);margin-left: 7px;}
  .promo-page .next .item-present:nth-child(4) .box-count{bottom: 50px;}
  .promo-page .next .item-present:nth-child(5) .box-card{transform: rotate(-20deg) translate3d(0, 0, 0);-webkit-transform: rotate(-20deg) translate3d(0, 0, 0);margin-top: 0;margin-left: -25px;}
  .block-form{
    text-align: center;
  }
  .box-control-inline .label-control{
    text-align: center;
    padding: 0;
    width: 100%;
    line-height: normal;
    margin-bottom: 10px;
    display: block;
    white-space: nowrap;
  }
  .box-control-inline .message-control{
    margin-left: 0;
    width: 370px;
  }
  .box-control-inline .box-checkbox .visible-check,
  .box-control-inline .box-checkbox{
    margin-left: 0;
  }

  .box-checkbox-inline{
    display: inline-block;
    vertical-align: top;
  }
  .message-novalid{
    position: relative;
    margin-top: 0.5em;
  }
  .modal-title .block-text br,
  .box-control-inline .box-checkbox br{
    display: none;
  }
}